@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background: linear-gradient(rgb(58, 184, 255) 0%, rgb(0, 119, 224) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
